/* Red is #BF3038
   Cream is #F0EDE6 */

/* Universal CSS for all pages */

html {
  font-family: 'Rajdhani', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 32px;
}

#container {
  width: 80%;
  margin: auto;
}

/*///////////////////////////////////////// All Pages ////////////////////////////////////////*/

/* Navigation bar for all screen sizes and all pages */

#nav_ul {
  list-style: none;
  margin: 20px;
  padding: 0px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Times New Roman", Georgia, Serif;
  font-weight: lighter;
}

#nav_ul li {
  display: inline;
  margin: auto;
}

#nav_ul a {
  text-decoration: none;
  font-size: 50px;
  margin: 0px;
  padding: 0px;
  padding-bottom: 10px;
  color: black;
}

#nav_ul li a:hover {
    color: #BF3038;
}

#nav_logo {
  width: 20vw;
  height: auto;
}

#nav_logo:hover path {
  fill:  #b1c9e5;
}

.nav_seperator {
  font-size: 50px;
  padding: 0;
  margin: 0;
  color: #BF3038;
}

.nav_seperator:hover {
  color: #b1c9e5;
}

#hamburger {
  width: 35px;
  height: 35px;
  color: black;
  display: none;
}

#responsive_logo {
  display: none;
}

/* End of navigation bar for all screen sizes and all pages */

/* Navigation bar hover effect when the bar is not responsive for all pages */

@media (min-width: 1181px) {

  #nav_ul li a.not_active,
  #nav_ul li a.not_active:after,
  #nav_ul li a.not_active:before {
    transition: color 300ms;
  }

  #nav_ul li a.not_active:after,
  #nav_ul li a.not_active:before {
    content: '';
    display: block;
    height: 3px;
    visibility: hidden;
    transform: scaleX(0);
    background-color: #BF3038;
    transition: all 300ms ease-in-out;
  }

  #nav_ul li a.not_active:hover::after,
  #nav_ul li a.not_active:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }

  #nav_ul li a.active:after {
    content: '';
    display: block;
    height: 3px;
    background-color: #BF3038;
  }

  #nav_ul li a.active:before {
    content: '';
    display: block;
    height: 3px;
    visibility: hidden;
    background-color: #BF3038;
    transition: all 300ms ease-in-out;
    transform: scaleX(0);
  }

  #nav_ul li a.active:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }

}

/* End of navigation bar hover effect when the bar is not responsive for all pages */

/* Begining of making the navigation bar responsive */

@media (max-width: 1180px) {

  #hamburger {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  #top_nav {
    margin-top: 65px;
  }

  #nav_ul {
    display: block;
  }

  #nav_ul li {
    display: none;
  }

  #top_nav #nav_ul #nav_logo,
  #top_nav #nav_ul .nav_seperator {
    display: none;
  }

  #nav_ul.responsive {
    position: relative;
    margin: -40px auto 0 auto;
    width: 50%;
  }

  #nav_ul.responsive li {
    display: block;

  }

  #nav_ul.responsive li a {
    display: block;
    text-align: center;
    font-size: 20px;
  }

  #nav_ul.responsive #hamburger {
    position: relative;
    top: 0px;
    right: 0px;
  }

  #responsive_logo {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 20px;
  }

  #responsive_logo svg {
    height: 35px;
    width: 35px;
  }

}

/* End of making the navigation bar responsive */

/* Beginning of footer */
footer {
  width: 100%;
  height: 25vh;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
}

.footer_section {
  width: 33%;
  height: 100%;
  background-color: #403D37;
  margin: 0 auto 0 auto;
}

footer_content {
  margin: 25px 0 0 25px;
}

.footer_content p {
  color: white;
  margin: 0;
}

#page_end {
  width: 100%;
  height: 10px;
  background-color: #BF3038;
  display: block;
  margin-top: 20px;
}


/* End of footer */

/*//////////////////////////////// About - Homepage //////////////////////////////////////*/

/* Beginning of header */

/* Original code by BR, replacement code by JM
#image_panel {
  display: flex;
  flex-direction: row;
}

.header_panel {
  max-width: 320px;
  max-height: 834px;
  width: auto;
  height: auto;
  margin: 0 auto 0 auto;
} */

#image_header {
 max-width: 100%;
 height: auto;

}
.header_image {
  max-width: 100%;
  max-height: 834px;
  width: auto;
  height: auto;
  margin: 0 auto 0 auto;
}

/* media query for mobile */

@media (max-width:568px){

#image_header {
   display: none;

 }

}

/* End of header */

/* Beginning of section welcome */

.line_break {
  width: 100%;
  height: 2px;
  background-color: black;
}

#welcome > h1 {
  margin-bottom: 0px;
}

#welcome_message {
  background-color: #F0EDE6;
  padding: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}


/* End of section welcome */

/*////////////////////////////////////// Facilities //////////////////////////////////////*/

/* Beginning of header */

#header_facilities_message {
  background-color: #BF3038;
  width: 100%;
  color: white;
  padding: 25px;
}

/* End of header */

/* Beginning of section properties */
#heading_flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.property_heading {
  margin: auto;
  margin-bottom: 0;
  margin-top: 25px;
  white-space: nowrap;
}

#property_flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.property_box {
  width: 32%;
  background-color: #F0EDE6;
  margin: 20px auto 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.property_box p {
  margin: 25px;
}

.slider img {
  height: 100%;
  width: 100%;
}

.slider {
  position: relative;
  overflow: hidden;
  margin: 0;
  float: right;
  width: 100%;
  height: 30%;
}

.slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
}

.slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #F0EDE6;
  text-align: center;
  line-height: 100%;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

/* End of section properties */

/* Beginning of section facilities */

#facilities h1 {
  margin-bottom: 0;
}

#facilities_message {
  background-color: #BF3038;
  color: white;
}

#facilities_message p {
  padding: 25px;
}

#facilities_image_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

#facilities_image_flex img {
  margin: 0 auto 0 auto;
  max-width: 400px;
  max-height: 250px
}

/* End of section facilities */

/* Beginning of section leasure */

#leasure h1 {
  margin-bottom: 0;
}

#leasure_message {
  background-color: #F0EDE6;
}

#leasure_message p {
  padding: 25px;
}

/* End of section leasure */

/* Beginning of section transport */

#transport h1 {
  margin-bottom: 0;
}

#transport_message {
  background-color: #BF3038;
  color: white;
}

#transport_message p {
  padding: 25px;
}

/* End of section transport */

/*////////////////////////////////////// Student Information //////////////////////////////////////*/
